.Content {
  width: 650px;
  height: auto;
  text-align: center;
  padding: 20px 10px;
}
.info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Board {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}
.Content p {
  margin: 0;
  font-size: 1.3rem;
}
