.contentMovesHistory {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
}
.MovesHistory {
  border: none;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  /* border: 5px solid rgba(230, 198, 21, 0.979); */
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px 20px;
  font-weight: bold;
  background-color: darkslategrey;
  color: aliceblue;
  margin-left: 5px;
  margin-bottom: 5px;
}
